body {
  background-color: thistle;
}

.page {
  margin: 60px auto 0;
  text-align: center;
  width: 60%;
}

.title {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
  font-style: italic;
  color:hotpink;
}

.subtitle {
  font-size: 20px;
  color: honeydew;
}

input {
  border-radius: 8px;
  font-size: 16px;
  padding: 5px;
  margin: 20px 0;
  outline: none;
  background-color: linen ;
}

.color {
  font-size: 20px;
  margin-bottom: 10px;
  font-style: italic;
  color: mediumaquamarine;
}

